node_modules
.env
.env.*
!.env.example
*.env
*.env.*
uploads
.DS_Store
client/dist
server/logs
*.log
client_secret_*.json
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tmp.txt
tmp*.txt
